.nav__playerbank{
    display: flex;
    flex-direction: column;
}

.nav__playerText{
    margin-bottom: 0;
    font-weight: bold;
}
.nav__playerText:hover{
    cursor: default;
}
.nav_incomeText{
    color: var(--green_darker);
    font-size: 11px;
}